<!DOCTYPE html>
<html>
<head>
    <title>Liste des matériels dans la salle {{ salle.nom }}</title>
</head>
<body>
    {% include 'gestion_materiel/includes/entete.html' %}

    <div class="container">
        <h1>Liste des matériels dans la salle {{ salle.nom }}</h1>
        <a href="{% url 'liste_salles' %}" class="btn btn-primary">Retour à la liste des salles</a>
    <div style="margin-top: 10px;"></div>
     <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Budget</th>
                    <th>Propriétaire</th>
                    <th>Lieu</th>
                    <th>Possesseur actuel</th>
                </tr>
            </thead>
            <tbody>
            {% for materiel in materiels %}
                    <tr>
                        <td>{{ materiel.nom }}</td>
                        <td>{{ materiel.budget }}</td>
                        <td>{{ materiel.proprietaire.nom }} {{ materiel.proprietaire.prenom }}</td>
                        <td>
                            {% if materiel.lieu.etage == 'rez-de-chaussée' %}
                                {{ materiel.lieu.nom }} ({{ materiel.lieu.etage }})
                            {% else %}
                                {{ materiel.lieu.nom }} ({{ materiel.lieu.etage }} Étage)
                            {% endif %}
                        </td>
                        <td>{{ materiel.possesseur.nom }} {{ materiel.possesseur.prenom }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">Aucun materiel trouvé.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
